*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, OpenSans, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $main-txt;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

input {
    font-family: inherit;
    text-align: inherit;
    outline: none;
    display: block;
    border: 1.5px solid $main-txt;
    width: 100%;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;

    &:hover {
        // text-decoration: underline;
    }

}